@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .card {
        @apply w-20 h-20 flex flex-col items-center;
    }

    .card > img {
        @apply w-10 h-10;
    }

    .card > p {
        @apply text-xs text-center  font-medium  line-clamp-2;
    }

    .swiper-slide {
        @apply flex flex-col items-center;
    }

    .swiper-pagination-bullet {
        @apply rounded-none !important w-10 h-10 bg-red-500;
    }

    .product {
        @apply w-32   justify-between   !important;
    }

    p.had-sale {
        @apply bg-gray-200 rounded-full flex-nowrap text-xs !important;
    }

   
}

.slogan-swiper > .swiper-pagination .swiper-pagination-bullet {
    border-radius: 0;
    background: red;
    margin: 0 !important;
}
