@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .card {
        /* @apply w-20   gap-2 h-20 md:h-full md:w-32 flex flex-col items-center justify-start  cursor-pointer  ; */
        @apply gap-2  flex flex-col items-center justify-start  cursor-pointer;
    }

    .card > img {
        @apply w-10 h-10;
    }

    .card > p {
        @apply text-xs text-center  font-medium  line-clamp-2  md:text-sm;
    }

    .swiper-slide {
        @apply flex flex-col items-center;
    }

    .swiper-pagination-bullet {
        @apply rounded-none !important w-10 h-10 bg-red-500;
    }

    p.had-sale {
        @apply bg-gray-200 rounded-full flex-nowrap text-xs !important;
    }

    img {
        @apply object-cover;
    }

    .suggest_item {
        @apply hover:scale-105 transition-all cursor-pointer hover:border hover:border-orange-600 p-2 shadow;
    }

    .suggest_item > button {
        @apply bg-orange-400 w-full translate-y-full absolute z-50 bottom-0    rounded text-white whitespace-nowrap text-sm py-1;
    }
}

.swiper-pagination-bullet {
    background: red;
    width: 11px;
    height: 11px;
}

.slogan-swiper > .swiper-pagination .swiper-pagination-bullet {
    border-radius: 0;
    background: white;
    margin: 0 !important;
}


.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
    opacity: 0;
}

.swiper-button-next::after,
.swiper-rtl .swiper-button-prev::after {
    content: "" !important;
}

.swiper-button-prev::after,
.swiper-rtl .swiper-button-next::after {
    content: "" !important;
}
